@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/* body {
  position: absolute;
  margin: 100px 400px;
  font-family: 'Roboto', sans-serif;
  padding: 50px;
} */

body {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
  padding-top: 40px;
  font-size: 25px;
}

h1 {
  font-size: 60px;
  text-align: center;
  /* border: 5px solid black;
  padding: 20px;
  color: #FFF; */
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 25px;
  margin-top: 40px;
}

/* .container {
  position: relative;
  display: inline-block;
} */

/* #container-color {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 1s;
} */

.list {
  position: relative;
  list-style-type: none;
  font-size: 30px;
  margin: 60px 400px;
  /* border: 2px solid black; */
  padding: 20px 0;
}

.border {
  border: 1px solid white;
  padding: 30px;
  margin: 10px;
  position: inline-block;
  border-radius: 50%;
}
.border2 {
  border: 1px solid white;
  padding: 30px;
  margin: 10px;
  position: inline-block;
  border-radius: 50%;
}
.border3 {
  border: 1px solid white;
  padding: 30px;
  margin: 10px;
  position: inline-block;
  border-radius: 50%;
}

.list > a {
  color: #FFF;
  
}

.rule {
  padding: 20px;
}

span {
  padding: 3px;
}

article {
  padding: 10px;
  /* margin: auto; */
  /* text-align: center; */
  height: 48px;
  /* width: 300px; */
  margin-bottom: 40px;
  margin-top: 60px;
}

.colors {
  padding: 10px;
  margin-top: 40px;
  position: relative;
}

.colors-2 {
  padding: 10px;
  margin-top: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: #000;
  font-size: 30px;
  width: 150px;
  padding: 5px;
}

/* .btn-2 {
  border-radius: 50%;
  width: 125px;
  padding: 5px;
} */

.circle {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.options {
  margin-top: 125px;
}

.options-2 {
  margin: 20px 0;
}

.extras {
  display: inline;  
  margin-top: 30px;
}

.extras-2 {
  margin-top: 100px;
}

.Red {
  background: #FF0000;  
}

.Blue {
  background: #0000FF;
}

.Green {
  background: #00FF00;  
}

.Cian {
  background: #00FFFF;
}

.Black {
  background: #000000;
}

.White {
  background: #FFFFFF;
}

.Yellow {
  background: #FFFF00;
}

.Violet {
  background: #FF00FF;
}

.Orange {
  background: #FF9900;
}

.align {
  text-align: center;
}

footer {
  margin: 50px 0 30px 0;
  font-size: 22px;
}

footer a{
  color: #0000FF;  
}

.help {
  color: red;
}

/* Bouncing colors */
.bouncing-color,
.bouncing-color::before,
.bouncing-color::after {
  left: 35%;
  top: 50%;
  margin-left: -35px;
  margin-top: -50px;
  position: absolute;
  vertical-align: middle;
  background: #00FF00;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bouncing-color::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.bouncing-color::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

.bouncing-color-2,
.bouncing-color-2::before,
.bouncing-color-2::after {
  left: 65%;
  top: 50%;
  margin-left: -65px;
  margin-top: -50px;
  position: absolute;
  vertical-align: middle;
  background: #0000FF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bouncing-color-2::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.bouncing-color-2::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

.bouncing-color-3,
.bouncing-color-3::before,
.bouncing-color-3::after {
  left: 30%;
  top: 80%;
  margin-left: -30px;
  margin-top: -80px;
  position: absolute;
  vertical-align: middle;
  background: #FF0000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bouncing-color-3::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.bouncing-color-3::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

.bouncing-color-4,
.bouncing-color-4::before,
.bouncing-color-4::after {
  left: 50%;
  top: 80%;
  margin-left: -50px;
  margin-top: -80px;
  position: absolute;
  vertical-align: middle;
  background: #00FF00;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bouncing-color-4::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.bouncing-color-4::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

.bouncing-color-5,
.bouncing-color-5::before,
.bouncing-color-5::after {
  left: 70%;
  top: 80%;
  margin-left: -70px;
  margin-top: -80px;
  position: absolute;
  vertical-align: middle;
  background: #00FFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bouncing-color-5::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.bouncing-color-5::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

/* Keyframes */
@-webkit-keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

/* Button effects */
.red-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #FF0000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.red-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.red-shutter-in-horizontal:hover, .red-shutter-in-horizontal:focus, .red-shutter-in-horizontal:active {
  color: white;
}
.red-shutter-in-horizontal:hover:before, .red-shutter-in-horizontal:focus:before, .red-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}


.cyan-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #00FFFF;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cyan-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.cyan-shutter-in-horizontal:hover, .cyan-shutter-in-horizontal:focus, .cyan-shutter-in-horizontal:active {
  color: white;
}
.cyan-shutter-in-horizontal:hover:before, .cyan-shutter-in-horizontal:focus:before, .cyan-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.yellow-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #FFFF00;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.yellow-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.yellow-shutter-in-horizontal:hover, .yellow-shutter-in-horizontal:focus, .yellow-shutter-in-horizontal:active {
  color: white;
}
.yellow-shutter-in-horizontal:hover:before, .yellow-shutter-in-horizontal:focus:before, .yellow-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

#counter {
  border-radius: 50%;
  box-sizing: border-box;
  color: #FF0000;
  font-family: Arial;
  font-size: 100px;
  line-height: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -108px;
  position: absolute;
  left: 90%;
  text-align: center;
  top: 10%;
  width: 200px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.position-1 {
  position: relative;
  left: 35%;
  top: 80px;
  margin-left: -35px;
  margin-top: -50px;
}

.position-2 {
  position: relative;
  left: 65%;
  top: 50px;
  margin-left: -65px;
  margin-top: -50px;
}
